config.txt
*.pyc
*~
/.vscode
__pycache__
venv
.venv
db.sqlite3
media
.DS_Store
.dockerignore
src/cicflowmeter/data/*
src/cicflowmeter/logs/*
src/brain/models/*
src/*.csv
src/logs/debug
src/logs/info.log
src/server/*.csv
src/brain/models/*.parquet
brain_output
src/brain/models/*
*.parquet
*.zip
