
{% extends 'base.html' %}

{% block content %}



<div class="lg:pt-6  max-w-5xl  px-4">
  <h2 class="lg:pt-4 text-2xl leading-none font-bold text-gray-900 mb-10">Logs</h2>
    <div class="bg-white  rounded-lg my-2 p-4 sm:p-6 xl:p-8 ">

      <div class="component-preview not-prose   max-w-4xl" id="logs-text">
          <div class="pb-2 text-sm font-bold mb-2 flex items-center justify-between">
              <div>
              <a class="opacity-20 hover:opacity-60 text-sm font-semibold lg:text-lg" >#</a>
              <span class="text-sm font-semibold lg:text-lg">Logs</span>
              </div>
           </div>


              <div class="bg-base-300 relative overflow-x-auto rounded-lg rounded-lg">
              <div class="preview border-base-300 bg-base-200  rounded-lg rounded-lg border bg-cover bg-top p-4 undefined" style="background-size: 5px 5px">

              </div>
                 </div>





      </div>
    </div>
</div>











{% endblock %}





